name: CI

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - name: Install deps
        run: forge install

      - name: Format Check
        run: forge fmt --check

      - name: Build
        run: forge build --sizes

      - name: Test
        run: forge test -vvv
        env:
          FOUNDRY_PROFILE: ci

      - name: Gas Snapshot
        run: forge snapshot
